@media (max-width:710px){
  .slide{width: 700px;height:360px;margin:0px auto;}
  .brighto,.brightt,.brighth,.brightf{width:200px;height:360px;}
  .tloo,.tlot,.tloh,.tlof{width:500px;height:360px;}
  header{width:280px;}
  a{font-size:11px;}
  .dw{margin-left:80px;}
  .tr{margin-left:160px;}
  p{font-size:11px;}
  h1{font-size:17px;margin-top:100px;}
  .button{width: 100px;height:35px;padding-top:1px;}
  footer{width:720px;}
  .mes{width:50px;}
  .p{padding-top:10px;}
  footer{padding-top:200px;height:100px;}
  #odyn{top:50px;}
  #dwa{top:100px;}
  #try{top:150px;}
  #chotyry{top:200px;}
}
